* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}

html,
body,
.App {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background: var(--pages-background-palette);
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
}

body.hidden {
    overflow: hidden;
}

body,
input,
select,
a,
button,
textarea {
    font-family: inherit;
    font-size: var(--font-s);
    font-weight: 500;
    color: var(--global-palette2);
}

a,
button {
    background: transparent;
    border: none;
    outline: none;
}

a,
button,
select,
option {
    cursor: pointer;
}

.mr-top {
    margin-top: var(--margin-between-widget);
}

.contain {
    width: 100%;
    max-width: var(--container-max-width);
    margin-right: auto;
    margin-left: auto;
}

#modal-root {
    position: absolute;
    z-index: 5;
    width: 100%;
    max-width: 100vw;
    height: 100dvh;
    pointer-events: none;
}

body::-webkit-scrollbar {
    width: 8px; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
    background: transparent; /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--global-palette1); /* цвет бегунка */
    border-radius: 20px; /* округлось бегунка */
}
