@mixin button-outline {
    outline: 5px solid rgb(var(--global-palette1) 0.5);
}

@mixin scroll-hide($hidden: true) {
    @if $hidden {
        /* Скрываем scrollbar для Chrome, Safari и Opera */
        &::-webkit-scrollbar {
            display: none;
        }

        /* Скрываем scrollbar для IE, Edge и Firefox */
        & {
            -ms-overflow-style: none; /* IE и Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}

@mixin styled-scroll($width: 5px) {
    &::-webkit-scrollbar {
        width: $width; /* ширина всей полосы прокрутки */
    }

    &::-webkit-scrollbar-track {
        background: transparent; /* цвет зоны отслеживания */
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--global-palette1); /* цвет бегунка */
        border-radius: 20px; /* округлось бегунка */
    }
}
