@mixin button-outline {
    outline: 5px solid rgba(var(--global-palette1), 0.5);
}

@mixin styled-scroll($width: 5px) {
    &::-webkit-scrollbar {
        width: $width; /* ширина всей полосы прокрутки */
    }

    &::-webkit-scrollbar-track {
        background: transparent; /* цвет зоны отслеживания */
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--global-palette1); /* цвет бегунка */
        border-radius: 20px; /* округлось бегунка */
    }
}
