$border: 1px solid var(--border-ui-color1);

.header {
    border-top: $border;
    border-bottom: $border;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.header-top {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.header-section-left {
    svg {
        width: 260px;
    }
}

.header-bottom {
    display: grid;
    grid-template-columns: auto auto 1fr;
}


