$border: 1px solid var(--border-ui-color1);

.header {
    display: flex;
    justify-content: center;
    border-bottom: $border;
}

.header-top {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.category-dropdown {
    width: 100%;
}

.header-bottom {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;

    @media screen and (max-width: 650px) {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 800px) {
    .header-top {
        grid-template-areas:
            'logo user-widget'
            'search-widget search-widget';
        grid-template-columns: 1fr auto;
        grid-auto-rows: auto;
    }

    .logo {
        grid-area: logo;
    }

    .search-widget {
        grid-area: search-widget;
    }

    .user-widget {
        grid-area: user-widget;
    }
}
