.item {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 250px minmax(30px, 100px) auto;
    width: minmax(max-content, 100%);

    & > * {
        justify-self: center;
    }

    img {
        border-radius: var(--global-border-radius);
    }
}

.icon {
    width: 25px;
    height: 25px;
    justify-self: center;
}
