.CheckBox {
    width: max-content;
    max-height: 42px;
    overflow: hidden;
    font-size: var(--font-s);
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}

.CheckBox.active {
    max-height: 1000px;
    transition: 0.3s;
}

.icon {
    top: 50%;
    display: none;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    fill: var(--global-palette1);

    &.active {
        display: block;
    }
}

.content {
    display: flex;
    align-items: center;
    width: max-content;

    &.active {
        .icon {
            transform: rotate(180deg);
        }
    }
}

.label-wrapper {
    display: flex;
}

.label {
    display: none;
    max-width: 200px;
    color: var(--text-color2);

    &.open {
        color: var(--global-palette1);
    }

    &.children:hover {
        color: var(--global-palette1);
    }

    &.active {
        display: block;
    }
}

.disabled {
    opacity: 0.3;
}

.children-wrapper {
    display: none;
    width: 100%;
    margin-left: 5px;

    &.active {
        display: block;
    }
}
