.wrapper {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 200px;
    overflow: hidden;
    background: white;
    border-radius: var(--global-border-radius);

    &:hover {
        .img_0 {
            opacity: 0;
        }

        .img_1 {
            opacity: 1;
        }
    }
}

.img {
    object-fit: contain;
    transition: 0.2s;
}

.img_1 {
    opacity: 0;
}
