.BreadCrumbs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    height: 120px;
    padding: 0;
    background: var(--container-background-2);

    h1 {
        font-size: var(--font-l);
        color: var(--text-color2);
    }
}

.link {
    color: var(--global-palette6);
    border-bottom: 1px solid var(--global-palette6);
}

.active {
    pointer-events: none;
    cursor: default;
    border: none;
}

.breadcrumbs-wrapper {
    display: flex;
}

.slash {
    margin: 0 10px;
    color: var(--global-palette6);
}

.title {
    font-weight: 500;
}
