.filter-list {
    display: flex;
    flex-direction: column;
}

.choice-wrapper {
    width: 100%;
    padding: 12px;
    cursor: pointer;

    &:hover,
    &:focus {
        background: rgb(0 0 0 / 5%);
    }
}
