{
    "printWidth": 80,
    "tabWidth": 4,
    "arrowParens": "always",
    "semi": false,
    "bracketSameLine": true,
    "jsxSingleQuote": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "singleAttributePerLine": true,
    "importOrder": [
        "^react(.*)$",
        "^next(.*)$",
        "^@/features/(.*)$",
        "^@/entities/(.*)$",
        "^@/shared/(.*)$",
        "^@/app",
        "^[./]",
        "^"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
