.wrapper {
    display: grid;
    grid-template-columns: auto 200px 1fr auto;
    gap: 15px;
    width: 100%;
}

.delete-icon {
    width: 25px;
    height: 25px;
}

.img {
    object-fit: contain;
}
