$icon-size: 25px;

.item {
    a {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px 20px;

        .label {
            font-size: var(--font-size-4);
        }

        & > svg {
            width: $icon-size;
            height: $icon-size;
            fill: var(--text-color2);
        }
    }

    &.active {
        position: relative;

        &:before {
            position: absolute;
            content: '';
            width: 2px;
            background: var(--global-palette1);
            height: 100%;
            top: 50%;
            transform: translateY(-50%);
        }

        a {
            .label {
                color: var(--global-palette1);
            }

            & > svg {
                fill: var(--global-palette1);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .label {
        display: none;
    }
}
