@import '@/app/styles/variables';

.button {
    height: 42px;
    padding: 0 40px;
    font-size: var(--font-size-6);
    color: var(--text-color1);
    background: var(--global-palette1);
    border-radius: 0 var(--global-border-radius) var(--global-border-radius)
        0;
    transition: 0.1s;
}
