.product-widget {
    display: flex;
    gap: 20px;
}

.product__image {
    object-fit: contain;
    border-radius: var(--global-border-radius);
}

.content__title {
    color: var(--text-color2);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stock {
    display: flex;
    gap: 5px;
}

.btn-group {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    height: fit-content;
}

.delete-modal {
    top: 100%;
}

.delete-button {
    path {
        fill: var(--icon-color1);
    }
}

.button {
    padding: 10px;
    border-radius: var(--global-border-radius);

    &:hover {
        background: var(--hover-effect-for-icon);
    }
}

.svg {
    svg {
        width: 25px;
        height: 25px;
    }
}
