.page-list {
    display: flex;
}

.list-item {
    position: relative;
    padding: 12px 0;

    & a {
        padding: 0 24px;
        color: var(--text-color4);
        transition: var(--transition1);

        &:hover {
            color: var(--text-hover1);
        }

        &.active {
            color: var(--global-palette1);
        }
    }

    &:not(:last-child) a {
        border-right: 1px solid var(--border-ui-color1);
    }
}
