.width-100 {
    width: 100%;
}

.content-width {
    width: fit-content;
}

.Title {
    font-weight: 500;
    color: var(--global-palette2);

    &.l {
        font-size: var(--font-size-1);
        line-height: 1.5;
    }

    &.m {
        font-size: var(--font-size-2);
        line-height: 1;
    }

    &.s {
        font-size: var(--font-size-4);
        line-height: 2.4;
    }
}

.underline {
    width: 150px;
    height: 2px;
    margin-top: 12px;
    background: var(--global-palette1);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
