.header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;

    @media screen and (max-width: 1000px) {
        display: none;
    }
}

.toggle-preview-wrapper {
    display: flex;
    gap: 10px;
}
