.drop-down-menu-wrapper {
    position: relative;
    width: max-content;
}

.drop-down-menu {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-height: 0;
    overflow: hidden;

    &.open {
        max-height: 100vh;
        overflow: visible;
    }
}
