.profile-page {
    background: white;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-grow: 1;
    padding: 20px;
}

.setting-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}
