.profile-page {
    overflow-x: hidden;
    display: flex;
    flex-grow: 1;

    height: max-content;
    border: 1px solid var(--border-ui-color1);
}

.setting {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.registration-date {
    padding: 20px;
    border-radius: var(--global-border-radius);
    color: var(--text-color2);
    border: 1px solid var(--border-ui-color1);
    background: var(--container-background-2);
}
