$icon-size: 20px;

.LikeButton {
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: var(--global-border-radius);

    &.outline {
        padding: 10px;
        border: 1px solid var(--icon-color1);
    }

    &.disabled {
        opacity: 0.3;
    }

    &.active {
        border-color: var(--global-palette1);

        .icon {
            fill: var(--global-palette1);
        }
    }
}

.icon {
    width: $icon-size;
    height: $icon-size;
    fill: var(--icon-color1);
}
