.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: var(--global-border-radius);
}

.title {
    font-size: var(--font-size-6);
    color: var(--text-color2-not-inverted);
    text-align: center;
}

.img {
    object-fit: contain;
}
