.header {
    grid-column: 1/3;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, auto) 1fr;
    gap: 20px;

    a:hover {
        color: var(--global-palette1);
        transition: 0.3s;
    }
}

.logout {
    justify-self: end;
    font-size: var(--font-s);
    font-weight: 500;
}
