.App.dark {
    .MuiInputLabel-root {
        color: white;
    }

    .MuiFormControl-root {
        input {
            color: var(--text-color1);
        }
        fieldset {
            border-color: var(--border-ui-color1) !important;
        }
    }
}

.MuiInputBase-root {
    &::before {
        // display: none !important;
        border-color: var(--border-ui-color1) !important;
    }
}
