.AmountAdded {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 120px;
    max-width: max-content;
    height: 42px;
    background: var(--border-ui-color1);
    border-radius: 3px;

    button {
        display: flex;
        padding: 0 20px;
        font-size: var(--font-s);
        color: var(--global-palette6);

        &:hover {
            color: black;
        }
    }
}
