.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100dvh;
    overflow-y: auto;

    /* Скрываем scrollbar для Chrome, Safari и Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Скрываем scrollbar для IE, Edge и Firefox */
    & {
        -ms-overflow-style: none; /* IE и Edge */
        scrollbar-width: none; /* Firefox */
    }
}
