.skeleton-item {
    padding: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 210px));
    grid-auto-rows: max-content;
    flex-grow: 1;
    overflow-y: auto;
    row-gap: 20px;
}
