$padding: 20px;

.dropdown-widget {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 5;
    display: grid;
    color: var(--text-color2);
    width: max-content;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: $padding;

    button {
        font-size: var(--font-size-5);
        transition: 0.3s;
        &:hover {
            color: red;
        }
    }
}
.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--border-ui-color1);
    padding-top: $padding;
    gap: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 200px;
    overflow-y: auto;

    /* Скрываем scrollbar для Chrome, Safari и Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Скрываем scrollbar для IE, Edge и Firefox */
    & {
        -ms-overflow-style: none; /* IE и Edge */
        scrollbar-width: none; /* Firefox */
    }
}

.total {
    display: flex;
    flex-direction: column;
    gap: 10px;

    b {
        font-size: var(--font-size-3);
    }
}

.btn-group {
    display: flex;
    gap: 20px;
    align-items: center;
}
