.thumbs-gallery {
    width: 100%;
    max-width: 700px;
}

// ---------main-swiper--------- //

.swiper {
    width: 100%;
    height: 100%;
}

.main-swiper {
    display: block;
    width: 100%;
    height: 100%;

    &__img {
        display: block;
        margin: auto;
        object-fit: contain;
        background: white;
        border-radius: var(--global-border-radius);
    }
}

// ---------navigation-swiper--------- //

.navigation-swiper {
    // height: 110px;
    box-sizing: border-box;
    margin: 15px 0;

    &:hover {
        .btn-prev,
        .btn-next {
            pointer-events: all;
            opacity: 1;
        }
    }

    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        &.swiper-slide-thumb-active img {
            padding: 5px;
            border: 2px solid var(--global-palette1);
        }
    }

    &__img {
        box-sizing: border-box;
        display: block;
        width: 100%;
        min-height: 100%;
        margin: auto;
        cursor: pointer;
        object-fit: contain;
        border-radius: var(--global-border-radius);
        transition: 0.3s;
    }
}

.btn {
    &-prev {
        left: 10px;
        transform: translateY(-50%) rotate(-90deg);
    }

    &-next {
        right: 10px;
        transform: translateY(-50%) rotate(90deg);
    }

    @media screen and (max-width: 500px) {
        &-prev,
        &-next {
            display: none !important;
        }
    }
}
