.product-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    align-content: center;
}

.top-bar {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

.product-list {
    &.cell {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(300px 400px);
        gap: 10px;
        overflow-y: auto;

        @media screen and (max-width: 800px) {
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
        }

        @media screen and (max-width: 700px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &.list {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}

.pagination {
    margin-bottom: 20px;
}
