.MenuItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text {
    color: var(--text-color2);
}

.icon {
    width: 11px;
    height: 11px;
    fill: var(--global-palette1);
    transform: rotate(90deg);
}
