$margin: 20px;

.shop-page {
    display: flex;
    gap: 2em;
    margin-top: $margin;
    margin-bottom: $margin;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
}
