.BuyButton {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    font-weight: 600;
    color: white;
    background: var(--global-palette1);
    border: 1px solid transparent;
    border-radius: var(--global-border-radius);
}
