.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 280px;
    padding: 12px 30px;
    font-size: var(--font-s);
    font-weight: 500;
    color: var(--text-color1);
    text-align: center;
    cursor: pointer;
    background: var(--global-palette1);
    border: none;
    border-radius: 5px;

    &.outlined {
        color: var(--text-color2);
        background: transparent;
        border: 1px solid var(--border-ui-color1);
    }

    &.hover.outlined {
        &:hover {
            background: var(--hover-effect-for-icon);
        }
    }
}

.hover {
    &:hover {
        background: var(--global-palette3);
    }

    &.dark {
        &:hover {
            background: rgb(255 255 255 / 20%);
        }
    }
}

.focus {
    &:focus {
        background: var(--global-palette3);
    }

    &.dark {
        &:focus {
            background: rgb(255 255 255 / 20%);
        }
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.M {
    height: 42px;
}

.L {
    height: 47px;
}

.children {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.radius-right {
    border-radius: 0 5px 5px 0;
}

.radius-top {
    border-radius: 5px 5px 0 0;
}

.menu-icon {
    width: 20px;
    height: 20px;
}

.icon {
    transition: 0.3s;

    &.open {
        transform: rotate(180deg);
    }
}
