.navbar {
    background: white;
    padding: 20px 20px 20px 0;

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    box-shadow: var(--box-shadow-3);
    border-radius: var(--global-border-radius);
    height: max-content;

    a {
        font-size: var(--font-size-2);
    }
}
