.navbar {
    padding: 20px 20px 20px 0;

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    height: max-content;

    a {
        font-size: var(--font-size-2);
    }
}
