@import '@/app/styles/variables';

.ProductPage {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);

    @include styled-scroll;
}

.left-col {
    border-right: 1px solid var(--border-ui-color1);
}

.right-col {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
}

.category-title {
    font-size: var(--font-s);
    color: var(--global-palette6);
}

.name {
    font-size: var(--font-l);
    color: var(--text-color2);
}

.description {
    font-size: var(--font-s);
    color: var(--text-color2);
}

.price {
    font-size: var(--font-m);
    font-weight: 500;
    color: var(--text-color3);
}

.quantity {
    color: var(--text-color3);
}

.btn-group {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1050px) {
    .ProductPage {
        display: flex;
        flex-direction: column;
    }

    .thumb-gallery {
        max-width: 100%;
    }

    .left-col {
        width: 100%;
    }

    .big-img {
        width: 500px;
        height: 500px;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .big-img {
        width: 300px;
        height: 300px;
        margin: auto;
    }

    .small-img {
        width: 50px;
        height: 50px;
    }

    .description {
        max-height: 400px;
        overflow-y: auto;

        @include styled-scroll;
    }
}
