.select-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-wrapper {
    position: relative;
    width: max-content;
}

.select {
    display: inline-block;
    width: 240px;
    min-width: 24px;
    padding: 8px 10px;
    line-height: 1.6;
    color: var(--text-color2-not-inverted);
    appearance: none;
    border: 1px solid var(--border-ui-color1);
    border-radius: 3px;

    &::-ms-expand {
        display: none;
    }

    option {
        color: var(--text-color2-not-inverted);
    }
}

.title {
    font-size: var(--font-s);
    font-weight: 500;
    color: var(--text-color2);
}

.icon {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 12px;
    pointer-events: none;
    cursor: pointer;
    fill: var(--global-palette1);
    transform: translateY(-50%) rotate(180deg);
}
