.ProductFilter {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--border-ui-color1);
    border-radius: var(--global-border-radius);

    h2 {
        margin-bottom: 1em;
        font-size: var(--font-size-4);
        color: var(--text-color2);
    }

    &.isOpen {
        position: fixed;
        top: 0;
        z-index: 5;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100dvh;
        overflow: auto;
        background: var(--pages-background-palette);
    }

    @media screen and (max-width: 1000px) {
        display: none;
    }
}

.filter-group {
    display: flex;
}

.filter-list {
    display: flex;
    flex-direction: column;
}

.choice-wrapper {
    width: 100%;
    padding: 12px;
    cursor: pointer;

    &:hover,
    &:focus {
        background: rgb(0 0 0 / 5%);
    }
}

.active-filters-mobile {
    display: contents;
    height: min-content;
}
