.card {
    border: 1px solid var(--border-ui-color1);
    border-radius: var(--global-border-radius);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.title {
    font-size: var(--font-size-3);
    color: var(--text-color3);
}

.preview {
    justify-self: center;
}

.description {
    display: block;
    cursor: pointer;
    color: var(--text-color2);
    overflow: hidden;
    transition: 0.3s;
    font-size: var(--font-size-4);
    height: 100%;

    &::-webkit-scrollbar {
        width: 5px; /* ширина всей полосы прокрутки */
    }

    &::-webkit-scrollbar-track {
        background: transparent; /* цвет зоны отслеживания */
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--global-palette1); /* цвет бегунка */
        border-radius: 20px; /* округлось бегунка */
    }

    &:hover {
        color: var(--global-palette1);
    }
}

.btn-group {
    display: flex;
    gap: 10px;
}

.price {
    font-size: var(--font-size-3);
    color: var(--text-color3);
}

.footer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 10px;
}

.card.cell {
    display: flex;
    flex-direction: column;

    .preview {
        width: 100%;
        min-height: 200px;
    }

    .description {
        display: none;
    }

    .price,
    .rating,
    .btn-group {
        align-self: flex-start;
    }
}

.card.list {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-auto-rows: auto;
    gap: 10px;
    grid-template-areas:
        'preview title'
        'preview description'
        'preview rating'
        'preview price'
        'preview btn-group';

    .preview {
        grid-area: preview;
    }

    .title {
        grid-area: title;
    }

    .description {
        max-height: 150px;
        height: 100%;
        overflow: auto;
        grid-area: description;
    }

    .rating {
        grid-area: rating;
    }

    .price {
        grid-area: price;
    }

    .btn-group {
        grid-area: btn-group;
    }

    @media screen and (width <= 600px) {
        grid-template-columns: 150px 1fr;
        grid-template-areas:
            'preview title'
            'preview description'
            'preview description'
            'preview rating'
            'btn-group price';

        .description {
            max-height: 120px;
        }
    }
}

@media screen and (width <= 1000px) {
    .card * {
        font-size: var(--font-size-6);
    }
}

@media screen and (width <= 450px) {
    .card * {
        font-size: var(--font-size-7);
    }
}
