@import '@/app/styles/variables';

.card {
    padding: 10px;
    overflow: hidden;
    background: var(--card-background-2);
    border: 1px solid var(--border-ui-color1);
    border-radius: var(--global-border-radius);
}

.title {
    font-size: var(--font-size-5);
    color: var(--text-color3);
}

.description {
    display: block;
    height: 100%;
    overflow: hidden;
    font-size: var(--font-size-4);
    color: var(--text-color2);
    cursor: pointer;
    transition: 0.3s;

    @include styled-scroll(5px);

    &:hover {
        color: var(--global-palette1);
    }
}

.btn-group {
    display: flex;
    gap: 10px;
}

.price {
    font-size: var(--font-size-3);
    color: var(--text-color3);
}

.quantity {
    grid-area: quantity;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    align-self: flex-start;
    justify-content: flex-end;
}

.card.cell {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
        flex-grow: 1;
    }

    .description {
        display: none;
    }
}

.card.list {
    display: grid;
    grid-template-areas:
        'preview title'
        'preview description'
        'preview rating'
        'preview price'
        'preview quantity'
        'preview btn-group';
    grid-template-columns: 200px 1fr;
    gap: 10px;

    .preview {
        grid-area: preview;
        height: 100%;
    }

    .title {
        grid-area: title;
    }

    .description {
        grid-area: description;
        height: 100%;
        max-height: 150px;
        overflow: auto;
    }

    .rating {
        grid-area: rating;
    }

    .price {
        grid-area: price;
    }

    .btn-group {
        grid-area: btn-group;
    }

    @media screen and (max-width: 600px) {
        grid-template-areas:
            'preview preview '
            'title title'
            'description description'
            'rating rating'
            'price price'
            'quantity quantity'
            'btn-group btn-group';
        grid-template-columns: minmax(120px, 150px) 1fr;

        .preview {
            height: 100px;
        }

        .description {
            max-height: 120px;
        }
    }
}

@media screen and (max-width: 550px) {
    .title,
    .description {
        font-size: var(--font-size-5);
    }
}
