.wish-list-item {
    display: flex;
    gap: 20px;
}

.link {
    display: contents;

    &:hover h3 {
        color: var(--global-palette1);
        transition: 0.3s;
    }

    @media screen and (max-width: 500px) {
        font-size: var(--font-size-7);
    }
}

.wishlist-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text-color2);
}

.img-wrapper {
    position: relative;
    min-width: 200px;
    height: 200px;
    overflow: hidden;
    background: white;
    border-radius: var(--global-border-radius);
}

.img {
    object-fit: contain;
}

@media screen and (max-width: 850px) {
    .wish-list-item {
        flex-direction: column;
    }
}
