.details {
    width: fit-content;
    padding: 10px;
    overflow: auto;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;

    summary {
        font-weight: bold;
    }

    code {
        display: block;
        color: green;
    }

    &[open] {
        padding: 0;
        cursor: auto;

        summary {
            padding: 10px;
            cursor: pointer;
            user-select: none;
            border-bottom: 1px solid black;
        }

        .details_content {
            max-height: 600px;
            padding: 10px;
            overflow: visible;
            background: white;
        }
    }
}
