@import '@/app/styles/variables';

$border: 1px solid var(--border-ui-color1);

.list {
    z-index: 2;
    background: var(--card-background-2);
    border: $border;
    border-top: none;
    border-radius: 0 0 var(--global-border-radius) var(--global-border-radius);

    @include styled-scroll(5px);
}
