.product-widget {
    display: flex;
    gap: 20px;
}

.product__image {
    border-radius: var(--global-border-radius);
}

.content__title {
    color: var(--text-color2);
}

.content {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.stock {
    display: flex;
    gap: 5px;
}

.btn-group {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    position: relative;
}

.delete-modal {
    top: 100%;
}

.btn {
    border-radius: var(--global-border-radius);
    padding: 5px;

    &:hover {
        background: var(--hover-effect-for-icon);
    }
}

.delete {
    align-self: start;

    svg {
        width: 20px;
        height: 20px;
    }

    path {
        fill: var(--text-color2);
    }
}
