.product-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-grow: 1;
    gap: 20px;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.product-list__content {
    &.cell {
        display: grid;
        overflow-y: auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 600px);
        column-gap: 10px;
        row-gap: 10px;
    }

    &.list {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}

.pagination {
    margin-bottom: 20px;
}

.product-list.list{
    
}