.input {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    & {
        input {
            &::placeholder {
                color: var(--text-color2);
                opacity: 0.5;
            }
        }
    }
}

.loader {
    right: 10px;
    position: absolute;
}
