.input {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    background: var(--cmp-background1);

    & input {
        padding: 6px 10px;

        &::placeholder {
            color: var(--text-color4);
            opacity: 0.5;
        }
    }
}

.loader {
    position: absolute;
    right: 10px;
}
