.counter-wrapper {
    display: flex;
    border-radius: 12px;
    padding: 5px 10px;
    transition: 0.3s;
    flex-direction: column;
    align-items: center;

    &:hover,
    &:focus {
        background: var(--hover-effect-for-icon);
    }
}

.counter {
    width: 55px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 25px;
        fill: var(--global-palette3);
    }

    span {
        position: absolute;
        background: var(--global-palette1);
        padding: 2px 4px;
        display: flex;
        line-height: 1;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        top: 0px;
        right: 0px;
        color: var(--text-color1);
        font-size: 13px;
        border: 2px solid white;
    }
}

.label {
    color: var(--text-color5);
}
