.modalCard {
    height: fit-content;
    background: var(--global-palette9);
    padding: 20px;
    border: 1px solid var(--global-palette7);
    border-radius: var(--global-border-radius);
}

.center {
    margin: auto;
}
