.modalCard {
    height: fit-content;
    padding: 20px;
    background: var(--container-background-1);
    border: 1px solid var(--border-ui-color1);
    border-radius: var(--global-border-radius);
}

.center {
    margin: auto;
}
