// .MuiPagination-ul {
//     margin-top: 20px !important;
// }

.App.dark .Mui-selected {
    background: rgb(255 255 255 / 10%) !important;
}

.MuiButtonBase-root {
    border-color: var(--global-palette1) !important;
    color: var(--text-color2) !important;
}

.App.dark.Mui-selected {
    background: white !important;
}
