$toggler-size: 20px;
$wrapper-border: 2px;
$wrapper-height: $toggler-size + $wrapper-border * 2;
$wrapper-border-radius: $toggler-size;
$wrapper-width: ($toggler-size * 2.2) + $wrapper-border * 2;
$transition: 0.3s;

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: $wrapper-width;
    height: $wrapper-height;
    cursor: pointer;
    background: white;
    border: $wrapper-border solid var(--border-ui-color1);
    border-radius: $wrapper-border-radius;

    &.dark {
        background: black;
        border-color: white;
        transition: $transition;

        .toggler {
            background: white;
            transform: translate($toggler-size * 1.2, -50%);
        }
    }
}

.toggler {
    position: absolute;
    top: 50%;
    width: $toggler-size;
    height: $toggler-size;
    background: var(--global-palette1);
    border-radius: 50%;
    transition: $transition;
    transform: translate(0%, -50%);
}

.wrapper * {
    user-select: none;
}
