$br-rad: 5px;

@mixin position {
    & {
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 1;
        transform: translateY(-50%);
    }
}

.input-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: var(--cmp-background1);
    border: 2px solid var(--border-ui-color1);
}

.input {
    width: 100%;
    height: 100%;
    padding: 6px 10px;
    background: transparent;
    border: none;

    &::placeholder {
        color: var(--text-color4);
        opacity: 0.5;
    }
}

.loader {
    @include position;
}

.search-icon {
    width: 20px;
    height: 20px;

    @include position;

    path {
        stroke: var(--icon-color1);
    }
}

.cancel {
    @include position;
}
